.header-background {
  background-color: black;
}

.root {
  width: 1280px;
  height: 64px;
}

.___16 {
  width: 1280px;
  height: 64px;
  flex-shrink: 0;
  background-color: #414141;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16)
}

.img_logo {
  width: 144px;
  height: 64px;
  padding: 16px 19px 8px 16px;
}

.___49 {
  width: 160px;
  height: 48px;
  flex-shrink: 0;
  opacity: 0.00009999999747378752;
  background-color: #FF963C;
}

._____ {
  width: 96px;
  flex-direction: column;
  flex-shrink: 0;
  color: #FFF;
  font-family: 'hiragino Kaku Gothic Pro';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
}

.naviMemo {
  width: 160px;
  height: 48px;
  flex-shrink: 0;
}

.___492 {
  width: 160px;
  height: 48px;
  flex-shrink: 0;
  opacity: 0.00009999999747378752;
  background-color: #FF963C;
}

._____2 {
  width: 96px;
  flex-direction: column;
  flex-shrink: 0;
  color: #FFF;
  font-family: 'hiragino Kaku Gothic Pro';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
}

.naviMemo2 {
  width: 160px;
  height: 48px;
  flex-shrink: 0;
}

.___493 {
  width: 160px;
  height: 48px;
  flex-shrink: 0;
  opacity: 0.00009999999747378752;
  background-color: #FF963C;
}

.____ {
  width: 96px;
  flex-direction: column;
  flex-shrink: 0;
  color: #FFF;
  font-family: 'hiragino Kaku Gothic Pro';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
}

.naviMemo3 {
  width: 160px;
  height: 48px;
  flex-shrink: 0;
}